@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Quicksand:wght@500;700&family=Rubik:wght@600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#mouse {
  display: flex;
  justify-content: center;
}
#mouse svg {
  cursor: pointer;
}

h2 {
  font-family: "Rubik";
  font-size: 46px;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  font-family: "Rubik";
  font-size: 40px;
  font-weight: 700;
}

h4 {
  font-family: "Quicksand";
  font-size: 16px;
  font-weight: 700;
}

p {
  font-family: "Quicksand";
  font-size: 20px;
  font-weight: 500;
}

li {
  list-style: none;
}
li a::after {
  transition: 0.5s;
}
li #services:after {
  content: ">";
  margin-left: 8px;
  transform: rotate(-90deg);
  display: inline-block;
}
li #services:hover::after {
  content: ">";
  margin-left: 8px;
  transform: rotate(90deg);
  display: inline-block;
}
li #industries:after {
  content: ">";
  margin-left: 8px;
  transform: rotate(-90deg);
  display: inline-block;
}
li #industries:hover::after {
  content: ">";
  margin-left: 8px;
  transform: rotate(90deg);
  display: inline-block;
}
li #compagny:after {
  content: ">";
  margin-left: 8px;
  transform: rotate(90deg);
  display: inline-block;
}
li #compagny:hover::after {
  content: ">";
  margin-left: 8px;
  transform: rotate(-90deg);
  display: inline-block;
}

a {
  text-decoration: none;
}

nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #18302B;
}
nav h1 {
  margin-left: 50px;
  color: #DFCAA4;
}
nav div {
  width: 50%;
  display: flex;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
nav li a {
  color: white;
  text-align: center;
  font-family: "Quicksand";
  font-size: 16px;
  font-weight: 400;
}
nav a.active {
  font-weight: 700;
}
nav a.active:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 5px;
  background-color: #DFCAA4;
}

header {
  background: url(../images/header.jpg) no-repeat center right;
  background-size: cover;
  min-height: 688px;
  padding-top: 91px;
}
header h1 {
  width: 60%;
  color: white;
  font-family: "Playfair Display";
  font-size: 80px;
  font-weight: 800;
}

#header-content {
  position: absolute;
  margin: 0 15vw;
  margin-top: 1vh;
}

.header-content__btn {
  width: 150px;
  height: 50px;
  background: white;
  display: flex;
  margin-top: 40px;
  font-weight: 700;
}
.header-content__btn a {
  display: flex;
  text-decoration: none;
  color: black;
  font-family: "Quicksand", sans-serif;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.main {
  margin: 0 15vw;
  margin-top: 40px;
}

.main-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}
.main-content img {
  width: 90%;
  transition: 0.5s;
}
.main-content img:hover {
  transform: scale(1.05);
}
.main-content div {
  width: 45%;
}
.main-content p {
  margin-top: 40px;
}

.industries {
  margin-top: 150px;
  background-color: #18302B;
}
.industries h2 {
  padding: 75px 0;
  text-align: center;
  color: white;
}
.industries ul {
  display: flex;
  justify-content: space-around;
  padding-bottom: 90px;
}
.industries ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.industries ul li p {
  margin-top: 42px;
  color: white;
  text-align: center;
}
.industries ul li svg {
  width: 110px;
  height: 110px;
  border-radius: 100%;
  padding: 30px;
  background-color: white;
}
.industries ul li svg:hover {
  animation: 4s linear 0s infinite rotate;
}

@keyframes rotate {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
.video {
  margin: 100px auto;
  width: 75%;
}
.video iframe {
  width: 100%;
  border-radius: 10px;
  height: 60vh;
}

@media screen and (max-width: 986px) {
  header h1 {
    font-size: 50px;
  }
  .main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  .main-content div {
    width: 95%;
    margin: 0 auto;
  }
  .main-content img {
    width: 100%;
  }
  .industries ul {
    display: block;
    justify-content: initial;
  }
  .industries ul li {
    margin-top: 25px;
  }
}
#scrollTop {
  font-family: "Rubik";
  font-size: 20px;
  font-weight: 700;
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  transform: rotate(-90deg);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 100%;
}

@media screen and (max-width: 1090px) {
  header h1 {
    font-size: 60px;
  }
}
.client-explain {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.client-explain h2 {
  margin-bottom: 32px;
}

.client-wrapper {
  background: rgba(24, 48, 43, 0.03);
  padding: 88px 0;
}

.client-card__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  width: 75%;
  margin: 0 auto;
  margin-top: 60px;
}
.client-card__wrapper .client-card {
  display: flex;
  width: 100%;
  background: white;
  border-radius: 16px;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding: 32px 24px;
}
.client-card__wrapper .client-card span {
  font-family: "Quicksand";
  font-size: 12px;
  font-weight: 400;
}
.client-card__wrapper .client-card p {
  font-size: 16px;
}
.client-card__wrapper .client-card img:first-child {
  width: 88px;
}
.client-card__wrapper .client-card img:last-child {
  width: 63px;
}

.blog-wrapper {
  width: 75%;
  margin: 136px auto;
}
.blog-wrapper .blog-btn_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  grid-column: 2;
}
.blog-wrapper .blog-btn_wrapper a {
  color: #000000;
  font-family: "Quicksand";
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 41px;
  border-radius: 26px;
  border: 1px solid #B6B6B6;
  transition: 0.3s;
}
.blog-wrapper .blog-btn_wrapper a:hover {
  background: #9d9d9d;
}
.blog-wrapper h2 {
  margin-bottom: 80px;
}
.blog-wrapper .blog-card_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.blog-wrapper .blog-card {
  width: 100%;
}
.blog-wrapper .blog-card img {
  width: 90%;
  margin: 0 auto;
  padding-top: 15px;
  display: block;
}
.blog-wrapper .blog-card .blog-card_content {
  width: 90%;
  margin: 0 auto;
}
.blog-wrapper .blog-card .blog-card_content span {
  font-family: "Quicksand";
  font-size: 14px;
  font-weight: 400;
}
.blog-wrapper .blog-card .blog-card_content h4 {
  font-size: 20px;
  margin: 12px 0 16px 0;
}
.blog-wrapper .blog-card .blog-card_content p {
  font-size: 14px;
}

.contact {
  background: rgba(24, 48, 43, 0.03);
}
.contact .contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 68px 0;
  margin-bottom: 136x;
}
.contact .contact-content div {
  margin-left: 72px;
}
.contact .contact-content div a {
  padding: 16px;
  background: #18302B;
  font-family: "Quicksand";
  font-size: 14px;
  font-weight: 400;
  color: white;
}

footer {
  width: 100%;
  background-color: #18302B;
  display: flex;
  justify-content: space-around;
  padding-top: 73px;
  padding-bottom: 50px;
}
footer li {
  margin-top: 16px;
}
footer a {
  color: #FFF;
  font-family: "Quicksand";
  font-size: 14px;
  font-weight: 400;
}
footer h2 {
  color: #DFCAA4;
}

#scss {
  display: flex;
  margin: 25px 0;
  justify-content: center;
}
#scss a {
  font-family: "Quicksand";
  font-size: 14px;
  font-weight: 400;
  display: block;
  width: -moz-max-content;
  width: max-content;
  padding: 20px;
  background-color: #DFCAA4;
  border-radius: 30px;
}
#scss a:hover {
  background: #c49e59;
}/*# sourceMappingURL=styles.css.map */