@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Quicksand:wght@700&family=Rubik:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    font-family: 'Rubik', sans-serif;
}

header {
    background: url(./images/header.jpg) no-repeat right;
    background-size: cover;
    min-height: 688px;
    padding-top: 91px;
}

header div img {
    width: 100%;
    object-fit: cover;
}

#header_text {
    position: absolute;
    margin: 0 15vw;
    margin-top: 1vh;
}

#header_text h1 {
    width: 60%;
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 5vw;
}

.btn {
    width: 150px;
    height: 50px;
    background: white;
    display: flex;
    margin-top: 1vh;
}

.btn a {
    display: flex;
    text-decoration: none;
    color: black;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    justify-content: center;
    align-items: center;
}

main {
    margin: 0 15vw;
    margin-top: 10vh;
}

main h1 {
    font-family: 'Rubik', sans-serif;
}

.main_content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.main_content div {
    width: 45%;
}

.main_content p{
    font-family: 'Quicksand', sans-serif;
}